.products {
    // background-color: $grey;
    margin-top: 5rem;
    margin-bottom: 10rem;
}





// featured products
.featured-products{
    width: 100%;
    h3 {
        text-align: center;
        font-size: $base-font-size * 2;
        margin-bottom: 1rem;

        @include md {
            font-size: 1.09rem;
        }
    }
}

.fp-img  {
    height: 18rem;
    width: 25rem;
    
    @include lg{
        height: 14rem;
        width: 20rem;
    }
    @include md{
        height: 12rem;
        width: 16rem;
    }
}